@use "../../scss/variable.scss" as *;

.changePassword {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .container {
    width: 560px;
    height: fit-content;
    border-radius: 12px;
    border: 1px solid $gray6;
    background-color: $white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: normal;
      color: $gray1;
      margin-bottom: 8px;
    }
    .cancelBtn {
      width: fit-content;
    }
    @media (max-width: 600px) {
      width: 90%;
      max-width: 560px;
      padding: 16px;
    }
  }
}
